body {
	background-color: #f0ece2;
}

.container {
	width: 100vw;
}

.container .header {
	padding: 10px 40px;
	display: grid;
	grid-template-columns: 20% 80%;
	background-color: rgba(255, 255, 255, 0.5);
}
.container .header .title {
	padding: 10px;
	font-size: 45px;
	font-weight: bold;
}

.container .header .nav-group {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	list-style: none;
	font-size: 24px;
}

.container .header .nav-group .nav-group-li {
	padding: 10px;
}
.container .header .nav-group .nav-group-li:hover {
	background-color: #dfd3c3;
	transition: 0.5s;
	border-radius: 0.35rem;
	text-align: center;
	cursor: pointer;
}
